<h1>Drinks In the Town</h1>
<p>Welocme to the Town, AKA Oakland, CA. We have so many neighborhoods and a variety of
professionals. Drinks In Town is a video blog, interviewing Oaklanders and small business owners. Only
Oakland residents are allowed access to premium content, if you are a guest you do have limied access. Enjoy!</p>

<% link_to "test", root_path, class: 'btn btn-lg btn-warning' %>
