<div class="col-xs-12">
  <%= simple_form_for(@neighborhood, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name label: false, input_html: {placeholder: "Name"%>
  <%= f.input :bart_station label: false, input_html: {placeholder: "Bart Station"%>
  <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger" %>
  <% end %>
</div>
